// Table of Contents
/* ===== HOME ====== */
/* ===== Dev Portfolio ====== */

// variables
$primary_color: #218380;
$primary_color_dark: #1b6966;

body {
  background-color: $primary_color;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  min-height: 1000px;
}
p {
  font-size: 1.3em;
}
nav {
  background: #FFFFFF;

  h1 {
    color: $primary_color;
    margin-top: 0;
    padding: 10px;
  }
  .glyphicon-envelope {
    color: $primary_color;
    position: fixed;
    right: 15px;
    top: 25px;
    font-size: 2em;
    transition: color 0.5s ease;
    &.light {
      color: #FFFFFF; // transition color of icon on scroll
    }
  }
}

a.light {
  color: #FFFFFF;
}
a.dark {
  color: $primary_color;
}
h1, h2, h3, h4, h5 {
  margin-bottom: 30px;
  font-weight: 800;
  line-height: 1.3em;
}
h1 {
  font-size: 4em;
  letter-spacing: -3px;
  text-transform: uppercase;
}
h2 {
  font-size: 2.8em;
}
h5 {
  font-size: 1.1em;
  margin-bottom: 10px;
}
section {
  padding: 50px;
}
/* ===== HOME ====== */
body.home {
  .column {
    padding: 10px;
  }
}
.photo-dev {
  display: none;
  margin: 0 auto;
}

/* ===== Dev Portfolio ====== */
body.dev-portfolio {
  h2 {
    animation: fadeMeIn 0.5s;
  }
  #opening {
    p {
      margin-bottom: 50px;
    }
    ul {
      padding-left: 0;
      margin-top: 10px;
    }
    li {
      font-size: 1.05em;
      display: inline-block;
      padding: 3px 8px;
      margin: 5px 5px;
      border-radius: 5px;
      background: transparent;
      transition: all 0.5s;
      font-weight: 700;
      &.built-with {
        background: #942969;
        transition: all 0.5s;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        transform: scale(1.2);
      }
    }
  }
  #carousel-wrapper {
    background: url(images/dev_portfolio_bkg.png) no-repeat;
    background-position: center top;
    background-size: 100%;
    width: 730px;
    height: 400px;
    position: relative;
    #portfolio-carousel {
      position: absolute;
      top: 20px;
      left: 102px;
      width: 505px;
      height: 332px;
    }
    .carousel {
      .carousel-control {
        background-image: none;
        &.left {
          left: -90px;
        }
        &.right {
          right: -100px;
        }
      }
    }
  }

  #experience {
    background: #1b6966;
    ul {
      margin-bottom: 50px;
      ul {
        margin-bottom: 20px;
      }
    }
  }
}

@keyframes fadeMeIn {
  0% {
    opacity: 0;
    left: 100px;
  }
  100% {
    opacity: 1;
    left: 10px;
  }
}

#education {
  ul {
    list-style: none;
  }
  li {
    font-weight: 700;
    font-size: 1.2em;
    span {
      font-size: 0.8em;
      font-style: italic;
      font-weight: normal;
    }
  }
}
