// Table of Contents
/* ===== NAV ====== */
/* ===== CONTACT MODAL ====== */
/* ===== HOME ====== */
/* ===== Dev Portfolio ====== */
/* ===== Photography ====== */


// variables
$primary_color: #218380;
$primary_color_dark: #1b6966;
$secondary_color: #942969;

body {
  background-color: $primary_color;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
}
p {
  font-size: 1.3em;
}
a.light {
  color: #FFFFFF;
}
a.dark {
  color: $primary_color;
}
h1, h2, h3, h4, h5 {
  margin-bottom: 30px;
  font-weight: 800;
  line-height: 1.3em;
  @media screen and (max-width: 750px) {
    line-height: 1em;
  }
}
h1 {
  font-size: 4.5em;
  letter-spacing: -3px;
  text-transform: uppercase;
}
h2 {
  font-size: 3.5em;
  text-transform: uppercase;
}
h3 {
  font-size: 2.5em;
  text-transform: uppercase;
}
h4 {
  margin-bottom: 20px;
}
h5 {
  font-size: 1.1em;
  margin-bottom: 10px;
}
section {
  padding: 50px;
}

a {
  color: white;
  text-decoration: underline;
}
a:hover {
  color: $secondary_color;
}

.hideme
{
    opacity:0;
    transform: translate3d(0px, 20px, 0px);
}
.showme {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
  transition: all 1s;
}

/* ===== NAV ====== */

nav {
  background: #FFFFFF;

  h1 {
    color: $primary_color;
    margin-top: 0;
    padding: 10px;
  }
  #btn-contact-modal {
    color: $primary_color;
    position: fixed;
    right: 15px;
    top: 25px;
    font-size: 2em;
    transition: color 0.5s ease;
    background: none;
    border: none;
    &.light {
      color: #FFFFFF; // transition color of icon on scroll
    }
    @media screen and (max-width: 750px) {
      right: 2px;
      top: 2px;
    }
  }
}

/* ===== CONTACT MODAL ====== */
#contact-modal {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(27,105,102, 0.98);
  padding-top: 100px;
  opacity: 0;
  visibility: hidden;
  transition: visibility 1s, opacity 0.6s;
  p {
    font-size: 1.5em;
    margin-bottom: 30px;
    span {
      font-size: 1.8em;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  &.showme {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.6s;
  }
  #btn-close-modal {
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 2em;
    background: none;
    border: none;
    @media screen and (max-width: 750px) {
      right: 2px;
      top: 2px;
    }
  }
}

/* ===== HOME ====== */
body.home {
  .column {
    padding: 10px;
  }
  .photo-dev {
    //display: none;
    margin: 0 auto;
  }
  a.btn-portfolio {
    display: block;
    font-size: 2em;
    font-weight: 700;
    @media screen and (max-width: 750px) {
      font-size: 1.3em;
    }
  }
  .slideLeft {
    transform: translate3d(-50px, 0px, 0px);
    opacity: 0;
    transition: all 1s;
  }
  .slideRight{
    transform: translate3d(50px, 0px, 0px);
    opacity: 0;
    transition: all 1s;
  }
}

/* ===== Dev Portfolio ====== */
body.dev-portfolio {
  h2 {
    animation: fadeMeIn 0.5s;
  }
  #opening {
    p {
      margin-bottom: 50px;
    }
    ul {
      padding-left: 0;
      margin-top: 10px;
    }
    li {
      font-size: 1.05em;
      display: inline-block;
      padding: 3px 8px;
      margin: 5px 5px;
      border-radius: 5px;
      background: transparent;
      transition: all 0.5s;
      font-weight: 700;
      &.built-with {
        background: #942969;
        transition: all 0.5s;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        transform: scale(1.2);
      }
    }
  }
  #carousel-wrapper {
    background: url(images/dev_portfolio_bkg.png) no-repeat;
    background-position: center top;
    background-size: 100%;
    width: 730px;
    height: 400px;
    position: relative;
    margin: 0 auto;
    @media screen and (max-width: 750px) {
      width: 500px;
      height: 280px;
      margin: 0 auto;
    }
    @media screen and (max-width: 450px) {
      width: 300px;
      height: 180px;
    }
    #portfolio-carousel {
      position: absolute;
      top: 20px;
      left: 102px;
      width: 517px;
      height: 332px;
      @media screen and (max-width: 750px) {
        width: 352px;
        height: 226px;
        top: 15px;
        left: 70px;
      }
      @media screen and (max-width: 450px) {
        width: 212px;
        height: 137px;
        top: 9px;
        left: 42px;
        border: 1px solid white;
      }
    }
    .carousel {
      .carousel-control {
        background-image: none;
        &.left {
          left: -90px;
          @media screen and (max-width: 400px) {
            left: -40px;
          }
        }
        &.right {
          right: -90px;
          @media screen and (max-width: 400px) {
            right: -40px;
          }
        }
      }
    }
  }

  #experience {
    background: #1b6966;
    ul {
      margin-bottom: 50px;
      ul {
        margin-bottom: 20px;
      }
    }
  }
}

@keyframes fadeMeIn {
  0% {
    opacity: 0;
    left: 100px;
  }
  100% {
    opacity: 1;
    left: 10px;
  }
}

#education {
  ul {
    list-style: none;
    padding-left: 0;
  }
  li {
    font-weight: 700;
    font-size: 1.2em;
    span {
      font-size: 0.8em;
      font-style: italic;
      font-weight: normal;
    }
  }
}

/* ===== Photography Portfolio ====== */
body.photographer {
  img {
    margin-bottom: 30px;
  }
}
