// Table of Contents
/* ===== HOME ====== */
/* ===== Dev Portfolio ====== */

// variables
$primary_color: #218380;
$primary_color_dark: #1b6966;

body {
  background-color: $primary_color;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  min-height: 1000px;
}
p {
  font-size: 1.3em;
}
nav {
  background: #FFFFFF;

  h1 {
    color: $primary_color;
    margin-top: 0;
    padding: 10px;
  }
  .glyphicon-envelope {
    color: $primary_color;
    position: fixed;
    right: 15px;
    top: 25px;
    font-size: 2em;
    transition: color 0.5s ease;
    &.light {
      color: #FFFFFF; // transition color of icon on scroll
    }
  }
}

a.light {
  color: #FFFFFF;
}
a.dark {
  color: $primary_color;
}
h1 {
  font-size: 4em;
  letter-spacing: -3px;
  text-transform: uppercase;
}
h2 {
  font-size: 2.8em;
}
section {
  padding: 50px;
}
/* ===== HOME ====== */
body.home {
  .column {
    padding: 10px;
  }
}
.photo-dev {
  display: none;
  margin: 0 auto;
}

/* ===== Dev Portfolio ====== */
body.dev-portfolio {
  h2 {
    animation: fadeMeIn 0.5s;
  }
  #opening {
    p {
      margin-bottom: 50px;
    }
    ul {
      padding-left: 0;
      margin-top: 10px;
    }
    li {
      display: inline-block;
      padding: 5px 10px;
      margin-bottom: 3px;
      border-radius: 5px;
      &.built-with {
        background: #144240;
      }
    }
  }
  #experience {
    background: #1b6966;
    ul {
      margin-bottom: 50px;
    }
  }
}

@keyframes fadeMeIn {
  0% {
    opacity: 0;
    left: 100px;
  }
  100% {
    opacity: 1;
    left: 10px;
  }
}
